<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!------------------ Css Stylesheets ------------------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="app.css">
    
  

<!--------------- Bootstrap --------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.dark.min.css">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.dark.min.css.map">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.dark.rtl.min.css">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.min.css.map">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.rtl.min.css">
    <link rel="stylesheet" href="../Bootstrap/src/scss/bootstrap-rtl-fix/">
    
<!---------------------- Google Fonts -------------------->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Recursive:wght@300..1000&display=swap" rel="stylesheet">


    <title>TechMed. HealthCare</title>
  </head>
  <body class="body_bgv">

<!----------------------- Header ------------------------->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="images/logo.png" width="75" height="60" class="d-inline-block align-top" alt="Chandravani Hospital Logo" >
          <h2 >TechMed. HealthCare</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul  class="navbar-nav ml-auto">

<!------------------------ Navigation bar ---------------------------->
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#support">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../LoginPage/index.html">Login</a>
            </li>
          </ul>
        </div>
      </nav>

    </header>
<!-------------------- End Of Header -------------------------->

    <br>
<!------------------ Sub Heading under header ------------------------->
    <section id="hero">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h3 class="font-weight-bold"><u> Doctors, Pioneers, Life Savers</u></h3>
            <p class="tagLine"><b>Life is precious, We care for it.</b></p>
            <img src="images/NavBar.png" alt="" class="navbarphoto">
             <hr>
          </div>
        </div>
      </div>
    </section>

<!--------------------------About Section ---------------------->
    <div id="about" class="py-5">
      <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
              <h2 class="font-weight-bold mb-3">About...</h2>
              <p><b>TechMed. HealthCare & Research Centre is a multispecialty tertiary care hospital in Pune, providing the highest standard of clinical expertise and nursing care by offering the latest technology, and state-of-the-art hospital facilities. The Hospital focuses on rapid assessment, intervention and treatment for numerous common and complex conditions.

                TechMed. HealthCare & Research Centre presently has 300 beds and is situated in a central location, with easy access to the City.
                
                In addition to providing quality health care the focus is also on preventive health programmes, medical education and clinical research.
                
                Devotion to the art and science of healing reinforces every aspect of our mission.</b></p>
            </div>
          </div>
        </div>
      </div>
      </section>

<!---------------------- Services Provided ---------------------->
      <section id="services" class="py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="font-weight-bold mb-3">Our Services</h2>
              <p></p>
            </div>
          </div>
          <div class="service-carousel">
            <button id="prevBtn">&larr;</button>
            <div class="service-content">
                <div class="service active">
                    <img src="images/onco_Science.png" alt="onco science">
                    <hr>
                    <p>ONCO SCIENCE</p>
                </div>
                <div class="service">
                    <img src="images/Advance_BolldCenter.png" alt="advance blood center">
                    <hr>
                    <p>ADVANCE BLOOD CENTER</p>
                </div>
                <div class="service">
                    <img src="images/Trauma.png" alt="Emergency and Trauma">
                    <hr>
                    <p>EMERGENCY AND TRAUMA</p>
                </div>
                <div class="service">
                  <img src="images/Cardiac.png" alt="cardiac science">
                  <hr>
                  <p>CARDIAC SCIENCE</p>
              </div>
              <div class="service">
                <img src="images/mothercare.png" alt="mother and child care">
                <hr>
                <p>MOTHER AND CHILD CARE</p>
            </div>
            <div class="service">
              <img src="images/NEURO SCIENCE.png" alt="neuro science">
              <hr>
              <p>NEURO SCIENCE</p>
          </div>
          <div class="service">
            <img src="images/ortho.png" alt="orthopaedics">
            <hr>
            <p>ORTHOPAEDICS</p>
        </div>
            </div>
        <button id="nextBtn">&rarr;</button>
        </div>
        <div class="indicators">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        </div>
      </section>
      <section id="features" class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="font-weight-bold mb-3">Why Choose TechMed. HealthCare?</h2>
              <hr>
              <img src="images/Features.png" alt="">
            </div>
          </section>
          <section id="support" class="py-5 bg-light" style="background-color: rgba(255, 255, 255, 0.144)";>
            <div class="container" style="background-color: rgba(255, 255, 255, 0.144);">
              <div class="row">
                <div class="support-and-info">
                  <div class="form-container">
                      <h2><b>Support</b></h2>
                      <p>If you have any query or would like to learn more about our hospital/doctors/services, please don't hesitate to contact us.</p>
                      <form id="supportForm">
                          <table>
                              <tr>
                                  <td><label for="name">Name</label></td>
                                  <td><input type="text" id="name" name="name" required></td>
                              </tr>
                              <tr>
                                  <td><label for="email">Email</label></td>
                                  <td><input type="email" id="email" name="email" required></td>
                              </tr>
                              <tr>
                                  <td><label for="query">Query</label></td>
                                  <td><textarea id="query" name="query" rows="4" required></textarea></td>
                              </tr>
                              <tr>
                                  <td colspan="2">
                                      <button>Submit</button>
                                  </td>
                              </tr>
                          </table>
                      </form>
                  </div>
          
                  <div class="info-card">
                      <h2>Best Multispeciality Hospital in Pune</h2>
                      <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 170px; background-color: #7c4dff; height: 2px"
                />
                      <h3><b>TechMed Healthcare</b></h3>
                      <p>
                          Is a multispecialty tertiary care hospital in Pune, providing the highest standard of clinical expertise and nursing care by offering the latest technology, and state-of-the-art hospital facilities. The Hospital focuses on rapid assessment intervention and treatment for numerous common and complex conditions. Devotion to the art and science of healing reinforces every aspect of our mission. <br>
                          In addition to providing quality health care the focus is also on preventive health programmes, <b>. . .</b>
                          
                      </p>
                      <a href="#" class="btn_more">Learn More</a>
                  </div>
              </div>
              </div>
            </div>
          </section>
          <br><br><br><br>
            <br><br>

<!--------------------- Footer-------------------------->

<footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #1265ad"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="heading " ><b>TechMed. <br> HealthCare</b></h6>
            <hr class="hrStyle"/>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Services</h6>
            <hr
                class=" mt-0 d-inline-block  "
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white text-left">Onco Science</a>
            </p>
            <p>
              <a href="#!" class="text-white">Cancer Center</a>
            </p>
            <p>
              <a href="#!" class="text-white">Blood Center</a>
            </p>
            <p>
              <a href="#!" class="text-white">Emergency</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #4dd5ff; height: 2px"
                />
            <p>
              <a href="./webcode.html" class="text-white">Home</a>
            </p>
            <p>
              <a href="#about" class="text-white">About</a>
            </p>
            <p>
              <a href="../LoginPage/index.html" class="text-white">Login</a>
            </p>
            <p>
              <a href="#support" class="text-white">Support</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Maharastra, Pune 410014, Ind</p>
            <p><i class="fas fa-envelope mr-3"></i> Multi@Threaders.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="#"
         >MultiThreaders</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!------------------Script  ---------------------------->
            <script src="webcodeScript.js"></script>

<!------------------Bootstrap Scripts ------------------->
            <script src="../Bootstrap/js/mdb.es.min.js"></script>
            <script src="../Bootstrap/js/mdb.es.min.js.map"></script>
            <script src="../Bootstrap/js/mdb.umd.min.js"></script>
            <script src="../Bootstrap/js/mdb.umd.min.js.map"></script>
  </body>
</html>
        