.container {
    margin: 50px auto;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

table.schedule-table th, table.schedule-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table.schedule-table th {
    background-color: #278CB4;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #278CB4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.btn:disabled {
    background-color: #ccc;
}

.form-control {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

.checkbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    transform: scale(1.5);
}