<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
<!-------------------css----------------------->
    <link rel="stylesheet" href="css/styles.css">

<!---------------------Bootstrap--------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.dark.min.css">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.dark.min.css.map">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.dark.rtl.min.css">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.min.css.map">
    <link rel="stylesheet" href="../Bootstrap/css/mdb.rtl.min.css">
    <link rel="stylesheet" href="../Bootstrap/src/scss/bootstrap-rtl-fix/">

<!------------------- Google Fonts -------------->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Recursive:wght@300..1000&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="../MainPage/images/logo.png" width="75" height="60" class="d-inline-block align-top" alt="Hospital Logo">
            <h2 class="heading">TechMed. HealthCare</h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul  class="navbar-nav ml-auto">
  
  <!------------------------ Navigation bar ---------------------------->
              <li class="nav-item">
                <a class="navs" style="color: #1c2331;" href="../MainPage/webcode.html">HOME</a>
              </li>              
            </ul>
          </div>
        </nav>
  
      </header>

    <main>
      <section id="hero">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center hellouser">
              <h3 class="font-weight-bold "><u><b>Welcome To TeachMed. Hospital</b></u></h3>
              <p class="tagLine"><b>Life is precious, We care for it.</b></p>
            </div>
          </div>
        </div>
      </section>
      
<!-------------------- Login Form with User Type Checklist ------------------->
        <div class="login-form">
            <form onsubmit="routepages(); return false;">
                <h2>Login</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" >Login</button>
            </form>
        </div>
    </main>
<!------------------------------ Footer--------------------------->
    <footer
    class="text-center text-lg-start text-white"
    style="background-color: #1c2331">
    >
<!-- Section: Social media -->
<section
       class="d-flex justify-content-between p-4"
       style="background-color:#1265ad"
       >
<!-- Left -->
<div class="me-5">
  <span>Get connected with us on social networks:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
  <a href="" class="text-white me-4">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-google"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-github"></i>
  </a>
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
  <!-- Grid row -->
  <div class="row mt-3">
    <!-- Grid column -->
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <!-- Content -->
      <h3 class="heading text-left"><b>TechMed. <br> HealthCare</b></h3>
      <hr class="hrStyle"/>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold">Services</h6>
      <hr
          class=" mt-0 d-inline-block  "
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p>
        <a href="#!" class="text-white text-left">Onco Science</a>
      </p>
      <p>
        <a href="#!" class="text-white">Cancer Center</a>
      </p>
      <p>
        <a href="#!" class="text-white">Blood Center</a>
      </p>
      <p>
        <a href="#!" class="text-white">Emergency</a>
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold">Useful links</h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p>
        <a href="../MainPage/webcode.html" class="text-white">Home</a>
      </p>
      <p>
        <a href="../MainPage/webcode.html" class="text-white">About</a>
      </p>
      <p>
        <a href="#" class="text-white">Login</a>
      </p>
      <p>
        <a href="#support" class="text-white">Support</a>
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold">Contact</h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p><i class="fas fa-home mr-3"></i> Maharastra, Pune 410014, Ind</p>
      <p><i class="fas fa-envelope mr-3"></i> Multi@Threaders.com</p>
      <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
      <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
   class="text-center p-3"
   style="background-color: rgba(0, 0, 0, 0.2)"
   >
© 2020 Copyright:
<a class="text-white" href="#"
   >MultiThreaders.com</a
  >
</div>
<!-- Copyright -->
</footer>
<script src="scripts/loginscript.js"></script>
    <script>
        // JavaScript here
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;
        let role = null;

        // Sending a request to backend for logging in

        fetch('http://localhost:8080/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username,
                password: password
            })
        }).then(response => {
            if (response.status === 200) {
            role = response.json().role;
            if (role === 'admin') {
                window.location.href = 'admin/admin.html';
            } else if (role === 'doctor') {
                window.location.href = 'doctor/doctor.html';
            } else if (role === 'patient') {
                window.location.href = 'patient/patient.html';
            } else {
                alert('Invalid role');
            }
            } else {
                alert('Invalid username or password');
            }
        }).catch(error => {
            console.error('Error:', error);
        });

    </script>
</body>

</html>